<%= form_for [topic, post] do |f| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(post.errors.count, "error") %>.</h4>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="form-style">
    <%= form_group_tag(post.errors[:title]) do %>
      <div class="form-group" id="submit-new-post">
        <%= f.submit "Publish", class: 'btn btn-new-post' %>
      </div>
    <% end %>
  </div>
<% end %>
