<%= render partial: 'layouts/navbar' %>

<div id="show-post-container">
  <div id="show-post-title-container">

    <div id="post-user-show">
      <div>
        <% avatar_url = @post.user.avatar_url(48) %>
        <% if avatar_url %>
          <div class="media-left">
            <%= image_tag avatar_url, class: 'media-object' %>
          </div>
        <% end %>
      </div>
      <div id="post-user-order">
        <p><%= @post.user.name %></p>
        <p><%= time_ago_in_words(@post.created_at) %> ago</p>
      </div>
    </div>

     <h1>
       <%= @post.title %> <br>
     </h1>

  </div>

  <div class="row">
    <div class="col-md-8">
      <%= render partial: "labels/list", locals: { labels: @post.labels } %>
      <br />
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-md-8">
      <div id="post-body-container">
        <p><%= markdown(@post.body) %></p>
      </div>
      <div id="separate"></div>
      <div id="likenshare">
        <%= render partial: 'votes/voter', locals: { post: @post } %>
        <div id="comments-icon-container">
          <div id="icon">
            <%= image_tag('bubble.png') %>
          </div>
          <div class='js-comments-count' id="js-comments-count">
            <span style="font-weight:bold;font-size:1.1em;"><%= @post.comments.count %></span>
          </div>
        </div>

      </div>
      <div class="new-comment">
        <% if current_user %>
           <%= render 'comments/form', comment: Comment.new, post: @post %>
        <% end %>
      </div>
      <div class="js-comments">
         <%= render @post.comments %>
      </div>

    </div>
    <% if user_is_authorized_for_post?(@post) %>
      <div class="col-md-4">
        <%= link_to "Edit", edit_topic_post_path(@post.topic, @post), class: 'btn btn-success' %>
        <%= link_to "Delete Post", [@post.topic, @post], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>
      </div>
    <% end %>
  </div>
</div>
