<div class="navbar-fixed-top navbar-others" style="background-color:white">
  <ul>
    <div id="nav-left" class="nav-left-others">
      <div id="left-title">
        <% if current_user %>
          <li class="sayit-logo"><%= link_to image_tag('sayit.png'), topics_path %></li>
          <li class="logo-font"><%= link_to 'SayIt', topics_path, style: 'color:#00BCD4;text-transform: uppercase;font-size:2.4em;margin-right:30px;' %></li>
        <% else %>
          <li class="sayit-logo"><%= link_to image_tag('sayit.png'), root_path %></li>
          <li class="logo-font"><%= link_to 'SayIt', root_path, style: 'color:#00BCD4;text-transform: uppercase;font-size:2.4em;margin-right:30px;' %></li>
        <% end %>
      </div>
    </div>
    <div class="nav-right nav-right-others">
        <% if current_user %>
          <% if user_is_authorized_for_topics? %>
            <li id="add-topic">
              <%= link_to 'New Topic', new_topic_path, style: 'color:#00BCD4' %>
            </li>
          <% end %>
          <li><%= link_to image_tag('search.png'), session_path(current_user), method: :delete %></li>
          <li><%= link_to image_tag('bell.png'), session_path(current_user), method: :delete %></li>
          <li>
            <%= image_tag current_user.avatar, class: 'gravatar', style: 'width:40px;height:40px' %>
          </li>
          <li>
            <%= link_to current_user.name, user_path(current_user), style: 'color:#00BCD4' %>
          </li>
        <% else %>
          <li id="signin"><%= link_to 'Sign In', new_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_path %></li>
        <% end %>
    </div>
  </ul>
</div>

<div id="navbar-profile">
  <div class="row" id="profile-position">
     <div class="media" id="profile-pic">
       <br />
       <% avatar = @user.avatar %>
       <% if avatar %>
         <div class="media-left">
           <%= image_tag avatar, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body" id="profile-info">
         <h2 class="media-heading" id="profile-info-user"><%= @user.name %></h2>
         <div id="followers">
           <p><span style="font-weight:bold">287</span> Followers</p>
           <p><span style="font-weight:bold">260</span> Following</p>
         </div>
         <div id="social">
           <%= link_to image_tag('fb.png') %>
           <%= link_to image_tag('twitter.png') %>
           <%= link_to image_tag('linkedin-logo.png') %>
         </div>
       </div>
     </div>
  </div>
</div>
