<!DOCTYPE html>
<html>
<head>
  <title>SayIt</title>
  <meta name="viewport" content="width=device-width, inital-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer class="footer">
  <div id="footer-container">
    <div id="copyright">
      <p style="color:rgb(0, 150, 136);margin-left:30px;font-size:0.6em">&copy; Justine Dupuis — SayIt
    </div>
    <div id="map" class="subcat">
      <ul>
        <li>About</li>
      </ul>
    </div>
    <div id="other" class="subcat">
      <ul>
        <li>Trending topics</li>
      </ul>
    </div>
    <div class="subcat">
      <ul id="donate">
        <li><%= link_to image_tag('facebook.png') %></li>
        <li><%= link_to image_tag('messenger.png') %></li>
      </ul>
    </div>
  </div>
</footer>

</div>

</body>
</html>
